#categoryButton {
    position: 50px;
    width: 72px;
    height: 33px;
}

#categoryTitle {
    position: sticky !important ;
    width: 551px;
    height: 155px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 116.5%;
    color: #12005B;;
    text-align: right;
    left: 38%;
    top: 100px;
}


#buttonStyle {
    margin-left: 3%;
    margin-top: 6%;
    background-color: rgb(255, 255, 255);
    border-color: #ffffff;
    color: aliceblue;
    position: relative;
    width: 150px;
    height: 150px;
    left: 0%;
    top: -10%;
     background-color:  #F6EAFF;
    color: #fff;
   

}
#buttonStyle2 {
    margin-left: 3%;
    margin-top: 6%;
    background-color: rgb(255, 255, 255);
    border-color: #ffffff;
    color: aliceblue;
    position: relative;
    width: 150px;
    height: 150px;
    left: 35%;
    top: 500%;

}
#describeTitle{
position: absolute;
margin-left: 20%;
margin-top: 20%;
width: 72px;
height: 33px;
left: 35%;
top: 10%;

}
#categoryMenuBackGround{
position: absolute !important ;
width: 100%;
height: 100%;
background: #F6EAFF;
}
#illustration4{
position: relative;
left: 68%;
right: -4.85%;
top: 72%;
bottom: 45.75%;

transform: rotate(0deg);
}